$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Font sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 5rem;

$gradient: linear-gradient(90deg, var(--primary-color), var(--purple-300), var(--pink-500), var(--red-500));

