@use "../../styles/variables.scss";

.carousel-wrapper {
  max-width: variables.$breakpoint-lg;
  margin: auto;
}

.carousel__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.carousel__item {
  position: relative;
  width: min-content;
  margin: auto;
  overflow: hidden;
}

.carousel__item__image {
  border-radius: 0.5rem;
  width: 170px;
}

.carousel__item__icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.carousel__item__info {
  h3 {
    margin-block: 0.5rem;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: variables.$font-size-sm;
  }

  div {
    margin-bottom: 0.5rem;
  }

  span {
    opacity: 0.7;
    font-size: variables.$font-size-xs;
  }

  .carousel__item__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    span {
      opacity: 0.7;
      font-size: variables.$font-size-xs;
      background-color: rgba(255, 255, 255, 0.158);
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
    }
  }
}
