@use "../../styles/variables.scss";

.footer-wrapper {
  max-width: variables.$breakpoint-lg;
  margin: auto;
  margin-top: 8rem;
  text-align: center;
}

.footer__credits {
  margin-top: 3rem;

  p {
    font-size: variables.$font-size-xs;
    opacity: 0.7;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      background: variables.$gradient;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }
}
