@use "../../styles/variables.scss";

.footer-wrapper {
  max-width: variables.$breakpoint-lg;
  margin: auto;
  margin-top: 8rem;
  text-align: center;
}

.footer__credits {
  margin-top: 3rem;
  font-size: variables.$font-size-sm;
  padding: 2rem;
  color: var(--text-color-secondary);
  a {
    text-decoration: underline;
  }
}
