<header class="header">
  <p-button
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    label="Home"
    [text]="true"
  />

  <div class="header__nav-wrapper">
    <!-- <p-inputSwitch class="header__InputSwitch" /> -->
    <div>
      <input type="text" />
      <p-button><i class="pi pi-search"></i></p-button>
    </div>

    <nav class="header__nav">
      <div class="header__menuBtn">
        @if (isMenuOpen) {
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          (onClick)="toggleMenu()"
        />
        } @else {
        <p-button icon="pi pi-bars" [rounded]="true" (onClick)="toggleMenu()" />
        }
      </div>

      <div
        class="header__nav-list"
        [class.header__nav-list--isExpanded]="isMenuOpen"
      >
        <!-- <ul>
          <li class="header__nav-item">
            <p-button
              routerLink="auth"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              severity="secondary"
              [outlined]="true"
              size="small"
              >Sign In</p-button
            >
          </li>
          <li>
            <p-button
              routerLink="auth"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              size="small"
              >Create Account</p-button
            >
          </li>
        </ul> -->

        <app-social-links></app-social-links>
      </div>
    </nav>
  </div>
</header>
