@import "../../styles/variables.scss";

.header {
  max-width: 1200px;
  margin: auto;
}

.header,
.header__nav-wrapper,
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header__menuBtn {
  @media (min-width: 768px) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  display: none;
  
  @media (min-width: 768px) {
    flex-direction: row;
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      display: flex;
    }
  }
}

.header__nav-list--isExpanded {
  display: flex;
}
