@import "../../styles/variables.scss";

.header {
  max-width: 1200px;
  margin: auto;
}

.header,
.header__nav-wrapper,
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header__nav {
  @media (max-width: 768px) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.header__mobile-menu {
  @media (min-width: 768px) {
    display: none;
  }

  ul {
    margin-bottom: 3rem;
  }
}
