@use "../../styles/variables.scss";

.link-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  
    @media (min-width: variables.$breakpoint-xs) {
      flex-direction: row;
      justify-content: center;
    }
  }
  
  .link {
    display: flex;
    place-items: center;
    gap: 0.7rem;
    text-decoration: none;
  
    &:hover {
      background: variables.$gradient;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  
    i {
      font-size: 1.5rem;
    }
  
    span {
      font-weight: 600;
    }
  }