@use "../../styles/variables.scss";

.movie-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.movie-wrapper {
  background-color: var(--surface-card);
}

.movie {
  margin: auto;
  max-width: variables.$breakpoint-lg;
  display: grid;
  gap: 2rem;
  padding: 1rem;

  @media (min-width: variables.$breakpoint-xs) {
    grid-template-columns: 1fr 2.5fr;
  }
}

.movie__poster {
  max-width: max-content;
  margin: auto;

  img {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

.movie__btns {
  display: grid;
  gap: 1rem;
  max-width: 100%;
}

.movie__btn-link {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
}

.movie__details-wrapper {
  overflow-y: scroll;
  height: 500px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 3rem;
  padding: 1rem;
}

.movie-details__info {
  display: grid;
  gap: 1rem;

  span {
    opacity: 0.5;
    margin-right: 0.5rem;
  }

  i {
    margin-right: 0.5rem;
  }
}

.movie__details-directing {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    margin-bottom: 0.5rem;
    margin-left: 1.7rem;
  }

  @media (min-width: variables.$breakpoint-sm) {
    flex-direction: row;

    li {
      margin-left: 0;
    }
  }
}

.movie-details__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-details__cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;

  img {
    width: 100px;
    clip-path: circle();
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;

    p:last-child {
      opacity: 0.5;
    }

    p {
      font-size: variables.$font-size-sm;
    }
  }
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
