@if(movieDetails) {
<div class="movie-page-wrapper">
  <app-hero [heroMovie]="movieDetails"></app-hero>

  <div class="movie-wrapper">
    <main class="movie">
      <section class="movie__poster">
        <img src="{{ movieDetails.poster }}" alt="" />
        <div class="movie__btns">
          <a
            href="{{ movieDetails.imdbUrl }}"
            target="_blank"
            pButton
            class="movie__btn-link"
          >
            <i class="pi pi-external-link"></i>
            <p>IMDB</p>
          </a>
          @if(watchProvidersLink) {
          <a
            href="{{ watchProvidersLink }}"
            pButton
            outlined="true"
            severity="secondary"
            class="movie__btn-link"
            target="_blank"
          >
            <i class="pi pi-external-link"></i>
            <p>Streaming on</p>
          </a>
          } @if(movieDetails.homePage){
          <a
            href="{{ movieDetails.homepage }}"
            pButton
            outlined="true"
            target="_blank"
            class="movie__btn-link"
            severity="secondary"
          >
            <i class="pi pi-external-link"></i>
            <p>Website</p>
          </a>
          }
        </div>
      </section>
      <div>
        <p-tabView>
          <p-tabPanel header="Details">
            <div class="movie__details-wrapper">
              <div class="movie-details">
                <ul class="movie-details__info">
                  <li>
                    <span><i class="pi pi-map-marker"></i> Country:</span>
                    {{ getFlagEmoji(movieDetails.country) }}
                  </li>
                  <li>
                    <span><i class="pi pi-calendar"></i> Release Date:</span>
                    {{ movieDetails.releaseDate }}
                  </li>
                  <li>
                    <span><i class="pi pi-hourglass"></i> Runtime:</span>
                    {{ movieDetails.runtime }}min
                  </li>
                  <li>
                    <span><i class="pi pi-chart-line"></i> Popularity:</span>
                    {{ movieDetails.popularity }}
                  </li>
                  <li>
                    <span><i class="pi pi-star-fill"></i> Rating:</span>
                    {{
                      movieDetails.averageRating === 0
                        ? "Not Rated Yet"
                        : movieDetails.averageRating
                    }}
                  </li>
                  <li>
                    <span><i class="pi pi-check"></i> Status:</span>
                    {{ movieDetails.status }}
                  </li>
                  <li class="movie__details-directing">
                    <span><i class="pi pi-user"></i> Directors:</span>
                    <ul>
                      @for (item of movieDetails.directors; track $index) {
                      <li>{{ item.name }}</li>
                      }
                    </ul>
                  </li>
                </ul>
                <ul class="movie-details__genres">
                  @for (item of movieDetails.genres; track $index) {
                  <p-tag value="{{ item.name }}"></p-tag>
                  }
                </ul>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Cast">
            <div class="movie__details-wrapper">
              <ul class="movie-details__cast">
                @for (item of movieDetails.cast; track $index) {
                <li>
                  <img src="{{ item.profileImg }}" alt="" />
                  <div>
                    <p>{{ item.name }}</p>
                    <p>{{ item.character }}</p>
                  </div>
                </li>
                }
              </ul>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </main>
  </div>

  <div #trailer id="trailer" class="youtube-video-container">
    <!-- <div>
      <iframe
        [src]="movieDetails.trailer[0].url | safe : 'resourceUrl'"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div> -->
  </div>

  <app-carousel
    carouselTitle="Discover"
    carouselIcon="star"
    [moviesData]="similarMovies"
  ></app-carousel>
  <!-- <main class="movie">
    <section class="movie__poster">
      <img src="{{ movieDetails.poster }}" alt="" />
      <div class="movie__btns">
        <a
          href="{{ movieDetails.imdbUrl }}"
          target="_blank"
          pButton
          [severity]="'primary'"
        >
          <i class="pi pi-external-link"></i>
          IMDB
        </a>
        <a
        href="https://angular.dev/"
        target="_blank"
        pButton
        [severity]="'secondary'"
        >
        <i class="pi pi-external-link"></i>
        Watch providers
      </a>
      <a
          href="{{ movieDetails.homepage}}"
          target="_blank"
          pButton
          [severity]="'secondary'"
        >
        <i class="pi pi-external-link"></i>
        HomePage
      </a>
    </div>
  </section>
  
    <nav class="movie__details">
      <h2>{{ movieDetails.tagline }}</h2>
      <ul class="movie__details__tab">
        <li>
          <a routerLink="details" routerLinkActive="active-tab"
            ><div pRipple>Details</div></a
          >
        </li>
        <li>
          <a routerLink="cast" routerLinkActive="active-tab"
            ><div pRipple>Cast</div></a
          >
        </li>
        <li>
          <a routerLink="videos" routerLinkActive="active-tab"
            ><div pRipple>Videos</div></a
          >
        </li>
        <li>
          <i class="pi pi-star-fill"></i>
          {{ movieDetails.averageRating }}
        </li>
      </ul>
      <p-divider></p-divider>
      <router-outlet></router-outlet>
    </nav>
  </main> -->
</div>

} @else {
<app-spinner></app-spinner>
}
