<main>
  @if (isLoading) {
    <app-spinner/>
  } @else {
    <app-hero [heroMovie]="popularMovies[0]" heroText="Today's Pick"></app-hero>
  <app-carousel
    carouselTitle="New Releases"
    carouselIcon="sparkles"
    [moviesData]="upcoming"
  ></app-carousel>
  <app-carousel
    carouselTitle="Popular Movies"
    carouselIcon="bolt"
    [moviesData]="popularMovies"
  ></app-carousel>
  <app-carousel
    carouselTitle="Discover"
    carouselIcon="star"
    [moviesData]="topRated"
  ></app-carousel>
  }
</main>
