<div class="search-wrapper">
  <div class="search-btns">
    @if(isSearchBoxOpen){
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      [outlined]="true"
      (onClick)="toggleSearchBox()"
    />
    } @else {
    <p-button
      icon="pi pi-search"
      [rounded]="true"
      [outlined]="true"
      (onClick)="toggleSearchBox()"
    />
    }
  </div>

  <div class="search-box" [class.toggle]="isSearchBoxOpen">
    <p-autoComplete
      [(ngModel)]="selectedItem"
      [suggestions]="suggestions"
      (completeMethod)="search($event)"
      (onSelect)="onSelect($event)"
      optionLabel="title"
    />
  </div>
</div>
